* { box-sizing: border-box; }

body{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.container{
	position: relative;
	max-width: 1200px;
	min-width: 760px;
	margin: 0 auto;
	box-shadow: 0 0 21px -3px rgba(0,0,0,0.4);
}

.row::after{
	content: "";
	display: table;
	clear: both;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* header */

.main-header{
	position: relative;
	padding: 15px 0;
	background-color: #fff;
}

.main-header .logo-block{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

.main-navigation ul{
	padding: 0 6%;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold; 
}

.main-navigation li:first-of-type,
.main-navigation li:nth-of-type(2){
	text-align: left;
}

.main-navigation li:last-of-type,
.main-navigation li:nth-of-type(3){
	text-align: right;
}

.main-navigation li:nth-of-type(2){
	margin-right: 20%;
}

.main-navigation a{
	text-decoration: none;
	color: #000;
}

/* /end header */


/* jumbotron */

.jumbotron {
	height: 510px;
}

/* /end jumbotron */


/* five reason section */

.reason{
	background-color: #fff;
}

.reason-wrapper-title{
	width: 50%;
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;
}

.reason .reason-title{
	margin-bottom: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.reason-bottom-text{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333;
}

/* common style for reason section */
	
.item{
	width: 33.333333%;
	float: left;
	padding: 4% 6%;
	text-align: center;
}

.item .item-title{
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.item .item-number{
	font-size: 14px;
	line-height: 24px;
}

.item .item-text{
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

/* /end common style for reason section */

/* first reason and second reason */ 

.reason-one-block,
.reason-two-block{
	height: 256px;
	overflow: hidden;
}

.reason-one,
.reason-two{
	color: #fff;
	background-color: #81b3d2;
}

.reason-one .reason-one-text,
.reason-two .reason-two-text{
	color: #fff;
}

.reason-one-img{
	width: 66.666666%;
	float: right;
	overflow: hidden;
}

.reason-two-img{
	width: 66.666666%;
	float: left;
	overflow: hidden;
}

.reason-two{
	float: right;
}


/* /end first reason and second reason */ 


/* components */

.icon{
	display: inline-block;
	vertical-align: top;
	width: 75px;
	height: 75px;
	margin-bottom: 15px;
}

.icon-housing{
	background: url(../img/icon_component_1.png) no-repeat center;
}

.icon-food{
	background: url(../img/icon_component_2.png) no-repeat center;
}

 .icon-memento{
	background: url(../img/icon_component_3.png) no-repeat center;
 }

/* /end components */

.other-reason-block{
	background-color: #eee;
}

/* /end five reason section */


/* search block */

.search-block{
	background-color: #fff;
}

.wrapper-search-block{
	width: 50%;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}

.search-block .top-title{
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.search-block .bottom-title{
	margin-bottom: 35px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

.search-block .btn-call-form{
	position: relative;
	display: block;
	width: 570px;
	padding: 30px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #fff;
	background-color: #766357;
	text-decoration: none;
}

/* main form */

.main-form{
	position: absolute;
	width: 570px;
	padding: 55px 45px;
	text-align: right;
	background-color: #fff;
}

.main-form label{
	display: inline-block;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.main-form input{
	padding: 10px 15px;
	background-color: #f2f2f2;
	border: none;
}

.main-form input[type="text"]{
	width: 345px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.main-form input[type="number"]{
	width: 115px;
	text-align: center;
	margin-left: 48px;
}

.wrapper-label-number{
	margin-bottom: 55px;
}

.label-adult{
	float: left;
}

.label-child{
	float: right;
}

.main-form button{
	display: block;
	width: 100%;
	padding: 17px 0;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #fff;
	background-color: #81b3d2;
	text-transform: uppercase;
	border: none;
}


/* /and main form */

/* /end search block */


/* map block */

.map-block{
	height: 600px;
}

/* /end map block */


/* main footer */

.main-footer{
	padding: 35px 0;
	background-color: #fff;
}

.footer-item {
	width: 33.333333%;
	float: left;
	text-align: center;
}

.hashtag p{
	margin: 0;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 48px; /* так нельзя, но по-другому не получилось */
	font-weight: bold;
}


.social-btn li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.social-btn a{
	display: block;
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
}

.copyright{
	display: table;
	padding-top: 5px; /* или такое вот вырванивание по вертикали */
}

.copyright span,
.copyright img{
	display: table-cell;
	vertical-align: middle;
}

.copyright span{
	padding-right: 10px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}

/* index footer */

.index-footer{ /* стили, чтобы футер наезжал на карту, но он, почему то, не прибивается к самому низу страницы */
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.5);
}

/* /end main footer */



/* *** hotel page ***  */

/* choice-block */

.choice-block{
	padding: 30px 6%;
	background: url(../img/bg_form_choice.jpg) no-repeat;
}

.choice-infrastructure,
.choice-housing{
	width: 20%;
	float: left;
}

.choice-price{
	width: 60%;
	float: right;
}

.choice-block fieldset{
	padding: 0;
	border: none;
}

.choice-block legend{
	margin-bottom: 15px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #fff;
}

.choice-block label{
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.choice-infrastructure input,
.choice-housing input{
	margin-bottom: 25px;
}

.choice-infrastructure li:last-of-type input{
	margin-bottom: 0;
}

.choice-housing li:last-of-type input{
	margin-bottom: 0;
}

/* /end choice-block */


/* result block */

.result-block,
.result{
	padding: 30px 6%;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
}

.sorting-type{
	width: 80%;
	float: left;
}

.pointer-block{
	width: 20%;
	float: right;
	text-align: right;
}

.sorting-result,
.sorting-list,
.sorting-list li{
	display: inline-block;
	vertical-align: bottom;
}

.sorting-result{
	margin-right: 50px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting-list{
	font-size: 12px;
	line-height: 18px;
}

.sorting-list li{
	margin-right: 35px;
}

.sorting-list a{
	color: #b0aaaa;
	border-bottom: 1px dashed #b0aaaa;
	text-decoration: none;
}

.sorting-list .active{
	color: #81b3d2;
	border-bottom: none;
}

/* /end result block */


/* first result block */
/* second result block */
/* third result block */

.about-result{ /* здесь, судя по инспектору, странный отступ снизу */
	width: 80%;
	float: left;
}

.assessment{
	width: 20%;
	float: right;
	text-align: right;
}

.img-about-result,
.info-adout-result{
	display: inline-block;
	vertical-align: top;
}

.info-adout-result{
	width: 400px;
	padding-left: 26px;
}

.info-adout-result .info-title{
	margin: 0;
	margin-bottom: 10px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 21px;
	line-height: 19px; /* здесь я понизил значение, иначе не выравнилось по одной линии с img */
}

.info-adout-result .info-text{
	margin: 0;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 21px;
	color: #333;
}

.info-text span{
	margin-left: 40px;
}

.info-adout-result .btn-info{
	display: inline-block;
	vertical-align: top;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
}

.btn-info.btn-detailed{
	background-color: #81b3d2;
}

.btn-info.btn-reserv{
	background-color: #766357;
}